





{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12 offset-3">
            
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        Create SO
                    </div>
                    <div class="card-body col-4">
                         {% crispy form %}
                    </div>
                </div>
            </div>
               
            
        </div>
    </div>
    
    
        
  
    {% endblock content %}



    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}

    {% endblock javascripts %}    


