<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a target="_blank" 
               href="#" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Dashboard</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Go to UI</span></a>
                </li>
                {% if request.user.customer.is_seller or request.user.is_superuser %}
                         <!-- PRODUCT ADDING -->
                <li class="nav-item pcoded-menu-caption">
                    <label>Product</label>
                </li>
                <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Product</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'product:product-list' %}" class="">Product</a></li>
                        <li class=""><a href="{% url 'product:product-category-list' %}" class="">Product Category</a></li>
                    </ul>
                </li>

                <!-- .......................................... -->
                {% endif %}
               


                <!-- Sale Order ADDING -->
                <li class="nav-item pcoded-menu-caption">
                    <label>Sale</label>
                </li>
                <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Sale Order</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'sale:sale-list' %}" class="">Sale Order</a></li>
                        
                    </ul>
                </li>
                
                <!-- .......................................... -->
               
                 
                 {% if request.user.customer.is_seller or request.user.is_superuser %}
                   <!-- Inventory ADDING -->
                 <li class="nav-item pcoded-menu-caption">
                    <label>Inventory/Stock</label>
                </li>
                 <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Inventory</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'inventory:warehouse-list' %}" class="">Warehouse</a></li>
                        <li class=""><a href="{% url 'inventory:stock-list' %}" class="">Stock</a></li>
                        
                    </ul>
                </li>
                  <!-- ...........................Inventory................................. -->
                 {% endif %}
                    
                
                
            </ul>
        </div>
    </div>
</nav>
