


{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}


<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            
            <h5>Delete Confirmation</h5>
            <!-- <span class="d-block m-t-5">Make some <code>operations</code></span> -->
           
        </div>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete  <span class="text text-danger">"{{ object }}"</span>?</p>
            <input type="submit" value="Confirm" class="btn btn-danger btn-sm mb-4">
        </form>
        
    </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}