{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}


<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <a href="{% url 'inventory:stock' %}" class="float-right btn btn-primary">Create</a>
            <h5>Stock Lists</h5>
            <span class="d-block m-t-5">Make some <code>operations</code></span>
           
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Warehouse</th>
                            <th>Product</th>
                            <th>Qty</th>

                            <th class="float-right">Operations</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for stock  in object_list  %}
                        <tr>
                          
                            <td>{{forloop.counter}}</td>
                            <td>{{stock.warehouse.name}}</td>
                            <td>{{stock.product_id.name}}</td>
                            <td>{{stock.quantity}}</td>



                            <td class="float-right" >
                               
                                <a  class="label theme-bg2 text-white f-12" href="{% url 'inventory:stock-detail' stock.id %}">View</a>

                                <a class="label theme-bg text-white f-12" href="{% url 'inventory:stock-update' stock.id %}">Edit</a>
                                <a class="label theme-bg text-white f-12" href="{% url 'inventory:stock-delete' stock.id %}">Delete</a> 
                            </td>
                        </tr>
                        {% endfor %}
                            
                        
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}