# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

#png file
*.png
*.jpg

# venv
env
venv

#media
media/
static_in_venv

# other
.DS_Store

# javascript
package-lock.json
